<br>
<div class="container">
    <div class="jumbotrono">
        <h1>Parlons de vos projets</h1>
        <p>Pull is the most popular HTML, CSS, and JS framework for developing
            responsive, mobile-first projects on the web.</p>
    </div>
    <p>This is some text.</p>
    <p>This is another text.</p>
    <br>
    <div class="row">
        <div class="col-md-4">
            <div class="thumbnail">
                <a href="/w3images/lights.jpg">
                    <img src="../../../../assets/images/JPG/img1.jpg" alt="Lights" width="200px" height="200px">
                    <div class="caption">
                        <p>Lorem ipsum...</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="thumbnail">
                <a href="/w3images/nature.jpg">
                    <img src="../../../../assets/images/JPG/img2.png" alt="Nature" width="200px" height="200px">
                    <div class="caption">
                        <p>Lorem ipsum...</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="thumbnail">
                <a href="/w3images/fjords.jpg">
                    <img src="../../../../assets/images/JPG/img3.png" alt="Fjords" width="200px" height="200px">
                    <div class="caption">
                        <p>Lorem ipsum...</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>