.menu{
    background: #f9f9f9;
    height: 60px;
}
.menu ul{
    text-transform: uppercases;
}
.nav{
    margin-left:120px;
    border: 1px solid red;
    text-align:right;
}
.nav-link{
    color:black;
    text-transform: uppercase
}