<div>
  <a class="st-logo" href="#">
    <img id="logo" alt="Logo" src="../../assets/images/PNG/logo.png" width="75" height="75">
    <span class="t1">Prospectus Tech </span>
    <span class="t2">Service Support</span>
  </a>
   
  <div class="only-desktop">
    <app-desktop-header>
      <div>
      </div>
      <div class="first-line">
        <app-desktop-header-action-button>
          <a class="btn lang-desk-header">Choisir Langue
            <i class="fa fa-angle-down" aria-hidden="true"></i>
          </a>
        </app-desktop-header-action-button>
        <app-desktop-header-action-button>
          <a class="btn sbp-desk-header">S'inscrire</a>
        </app-desktop-header-action-button>
        <app-desktop-header-action-button>
          <a class="btn cnx-desk-header">Mon espace
            <i class="fa fa-lock" aria-hidden="true"></i>
          </a>
        </app-desktop-header-action-button>
      </div>
    </app-desktop-header>
  </div>
  <!-- <div class="only-mobile">
    <app-mobile-header>

    </app-mobile-header>
  </div> -->
</div>