.home{
    height:400px;
    background-size:cover;
    width:auto;
    background-image: url("../../../../assets/images/JPG/home.jpg");
    opacity:0.9;
}
.home-cnt{
    margin:auto;
    width:80%;
}
.home-cnt h1{
    color: white;
    font-weight:bold;
    text-transform: uppercase;
}